lead_generation/0156_HTTP_Awsrekognition_Automation_Webhook.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1?imgType=photo&key=YOUR-KEY-HERE=e51ced3f3563dfac9&q=street&searchType=image",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "acad70cd-ab1b-48d2-8d3d-140141dd6911"
    },
    {
      "parameters": {
        "type": "detectLabels",
        "binaryData": true,
        "additionalFields": {}
      },
      "name": "AWS Rekognition1",
      "type": "n8n-nodes-base.awsRekognition",
      "position": [
        192,
        0
      ],
      "typeVersion": 1,
      "id": "509d7244-3406-4cc5-a321-465f9b7fda76"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "qwertz",
        "options": {}
      },
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        544,
        0
      ],
      "typeVersion": 1,
      "id": "68b9319c-0503-4896-bd34-f2f27a6c0600",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yIUfSguoIBH1G2HV",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [],
          "string": [
            {
              "name": "img_name",
              "value": "={{$node[\"HTTP Request1\"].json[\"items\"][0][\"title\"]}}"
            },
            {
              "name": "img_link",
              "value": "={{$node[\"HTTP Request1\"].json[\"items\"][0][\"link\"]}}"
            },
            {
              "name": "img_labels",
              "value": "={{$node[\"AWS Rekognition\"][\"Labels\"][\"Name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        0
      ],
      "typeVersion": 1,
      "id": "45cf3884-7f74-4a5b-827a-1bf94aac32bd"
    }
  ],
  "pinData": {},
  "connections": {
    "Set3": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AWS Rekognition1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Rekognition1": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "326dc694-c6bc-405a-9083-791550129729",
  "meta": {
    "instanceId": "14efd5686d0e6fd75cadd84744d27816eccbbe5115fb07ebe92435d0e7178b22"
  },
  "id": "SSceHLiU6eANiqtt",
  "tags": []
}