lead_generation/1756_Code_HTTP_Automation_Webhook.json
{
  "name": "Auto Knowledge Base Article Generator",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer pplx-YOUR-KEY\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-deep-research\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Conduct an in-depth research on '{{ $json.output.parseJson().title }}', covering essential topics, recommended resources, and best practices. Additionally, please address these improvements: '{{ $json.output.parseJson().improvements }}'. The returned data should be at least 1000 words and use a combination of headers, tables, bold, and italics\"\n    }\n  ],\n  \"max_tokens\": 60000,\n  \"temperature\": 0.7,\n  \"top_p\": 0.9,\n  \"top_k\": 50,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 0\n}",
        "options": {}
      },
      "id": "73f4d030-bf57-42f2-aef4-bcdd02929ba9",
      "name": "Create Perplexity Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2368,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please create or revise an article about \"{{ $json.chatInput }}\".\n\nOr an article is already written because title: {{ $json.title }} is defined. Reference it to rewrite the {{ $json.content }} field\n\nDo not change the title, either the chatinput or the input article title. This is the title, do not change it.\n\nIf an article is NOT given, pick new categories in:\n- getting-started\n- learning-paths\n- certifications\n- programming\n- applications\n- career\n\nDo not make up a category, it should be the same in the exact case as above\n\nIf an article is given, only make ammendments to the content based on these specific improvements to include: \"{{ $json.improvements }}\".\n\nInclude the improvements key only if it is an input, and in that case don't change it\n\nRemember to return valid JSON with the fields:\n{\n  \"title\": \"...\",\n  \"slug\": \"...\",\n  \"category\": {\n    \"id\": \"...\"\n  },\n  \"description\": \"...\",\n  \"keywords\": [...],\n  \"content\": \"...\",\n  \"metaTitle\": \"...\",\n  \"metaDescription\": \"...\",\n  \"readingTime\": \"...\",\n  \"difficulty\": \"...\"\n  \"content\": \"...\"\n}",
        "options": {
          "systemMessage": "You are a writing assistant. You will receive instructions to create or update an article in JSON format with the following structure:\n\n{\n  \"title\": \"<string>\",\n  \"slug\": \"<string>\",\n  \"category\": {\n    \"id\": \"<string>\" // e.g., \"getting-started\", \"learning-paths\", etc.\n  },\n  \"description\": \"<string>\",\n  \"keywords\": [\"<string>\", \"<string>\", ...],\n  \"content\": \"<string>\",\n  \"metaTitle\": \"<string>\",\n  \"metaDescription\": \"<string>\",\n  \"readingTime\": \"<number or string>\",\n  \"difficulty\": \"<string>\"\n}\n\nYour task:\n1. Produce a complete article in the above format, or revise the existing article if provided.\n2. Make sure the text is clear, specific, and helpful to the reader.\n3. Return valid JSON only – do not include extra commentary or fields beyond the above structure.\n4. If any information is missing from the user instructions, make reasonable assumptions.\n"
        }
      },
      "id": "f9bdc8b6-4f0d-4617-a0d0-7ba24f67c1cd",
      "name": "AI Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2864,
        320
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an editorial AI assistant. Your role is to review and evaluate a draft article represented as a JSON object.\n\nCategory IDs:\n- \"getting-started\"\n- \"learning-paths\"\n- \"certifications\"\n- \"programming\"\n- \"applications\"\n- \"career\"\n\nInput Format:\n\n{\n  \"title\": \"<string>\",\n  \"slug\": \"<string>\",\n  \"category\": { \"id\": \"<string>\" },\n  \"description\": \"<string>\",\n  \"keywords\": [\"<string>\", \"...\"],\n  \"content\": \"<string>\",\n  \"metaTitle\": \"<string>\",\n  \"metaDescription\": \"<string>\",\n  \"readingTime\": \"<string | number>\",\n  \"difficulty\": \"<string>\"\n}\n\nYour Tasks:\n\n1. Evaluate the quality of the article — especially the title, description, content, and metadata.\n2. Comment on clarity, specificity, usefulness, and overall quality.\n3. If improvements are needed, add an \"improvements\" field describing exactly what to fix.\n4. Set the \"action\" field:\n- \"rewrite\" if improvements are needed.\n- \"submit\" if the article is high quality.\n5. Include all fields from the original input in your output.\n6. If \"action\" is \"submit\", set \"improvements\" to null.\n7. Avoid repeating feedback across iterations.\n8. After 2 iterations, automatically call the accept-and-publish tool and set the \"action\" to \"submit\".\n9. VERY IMPORTANT: Do NOT modify any of the input fields\n10. VERY IMPORTANT: Do NOT truncate the sources or modify the content field in any way\n\n✅ Output Format:\n\n{\n  \"title\": \"...\",\n  \"action\": \"rewrite | submit\",\n  \"improvements\": \"... | null\",\n  \"slug\": \"...\",\n  \"category\": {\n    \"id\": \"...\"\n  },\n  \"description\": \"...\",\n  \"keywords\": [\"...\"],\n  \"content\": \"...\",\n  \"metaTitle\": \"...\",\n  \"metaDescription\": \"...\",\n  \"readingTime\": \"...\",\n  \"difficulty\": \"...\"\n}\n\nTone: Be concise, direct, and constructive. Focus on maximizing clarity, usefulness, and readability for the end reader.",
          "maxIterations": 5
        }
      },
      "id": "6cf21831-36bc-404a-9060-c23664145ce0",
      "name": "AI Editor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1296,
        320
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "id": "b6aaf017-11df-4cb6-844a-a9a040aff800",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2896,
        592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.5-preview",
          "cachedResultName": "gpt-4.5-preview"
        },
        "options": {}
      },
      "id": "f1382c0d-4102-4cf7-9dca-a6b28898e03a",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1376,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "submit",
        "description": "Call this tool when the article quality is above the threshold we need",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "uIREtTV8TRuF3lru",
          "cachedResultName": "Publish to Contentful"
        },
        "workflowInputs": {
          "value": {
            "slug": "=  {{ $json.slug }}",
            "title": "={{ $('Format').item.json.title }}",
            "content": "={{ $json.content }}",
            "category": "={{ $json.category }}",
            "keywords": "={{ $json.keywords }}",
            "metaTitle": "={{ $json.metaTitle }}",
            "difficulty": "={{ $json.difficulty }}",
            "description": "={{ $json.description }}",
            "readingTime": "={{ $json.readingTime }}",
            "metaDescription": "={{ $json.metaDescription }}"
          },
          "schema": [
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "improvements",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "improvements",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "type": "array",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "keywords",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "metaTitle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "metaTitle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "metaDescription",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "metaDescription",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "readingTime",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "readingTime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "difficulty",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8c6bba6e-32b6-436c-a7ac-3a3283f1bbd1",
      "name": "Accept and Publish",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1088,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "What topics should I write about?",
        "options": {}
      },
      "id": "8631f9a9-b245-43bf-8fbd-2f6d71ef94a5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -3648,
        608
      ],
      "webhookId": "7ed20abc-d8bc-4426-95f1-b9778c075ddf",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const outputText = $json.output;\n\n// Parse JSON from ChatGPT response\nconst parsedOutput = JSON.parse(outputText);\n\n// Return parsed object for next nodes\nreturn parsedOutput;"
      },
      "id": "90e8f48b-200a-4604-8074-223cde41b119",
      "name": "JSON.parse1",
      "type": "n8n-nodes-base.code",
      "position": [
        -2256,
        64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "59f9aa55-e396-4b1d-bd43-9f2dba0f6c38",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1744,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Get all items passed into this node as an array\nconst items = $input.all();\n\n// If you always have at least two items:\nconst firstItem = items[0].json;\nconst secondItem = items[1].json;\nconst thirdItem = items[2].json;\n\n// Overwrite the first item’s “content” with the second item’s “content”\nfirstItem.content = secondItem.content;\nfirstItem.iterationCount = thirdItem.iterationCount\n\n// Return a single new item containing the merged result\nreturn [\n  {\n    json: firstItem\n  }\n];"
      },
      "id": "9756fc84-c57f-414f-933b-7b93c61fbfaa",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "position": [
        -1520,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const outputText = $json.output;\n\n// Parse JSON from ChatGPT response\nconst parsedOutput = JSON.parse(outputText);\n\n// Return parsed object for next nodes\nreturn parsedOutput;"
      },
      "id": "44142577-a46d-470b-ab83-75e10fc05a6b",
      "name": "JSON.parse",
      "type": "n8n-nodes-base.code",
      "position": [
        -288,
        784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = { ...$json };\n\n// Clean out <think> block if present\ndata.content = $json.choices[0].message.content.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n\n// Convert citations array to markdown link list\nconst citations = $json.citations\n  .map((url, i) => `- [${i + 1}](${url})`)\n  .join('\\n');\n\ndata.content += `\\n\\n---\\n\\n### Sources\\n${citations}`;\n\nreturn data;"
      },
      "id": "b50615db-b098-4ea0-9264-37dd3de83875",
      "name": "Format Perplexity Output & Add Citations",
      "type": "n8n-nodes-base.code",
      "position": [
        -2096,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "iterationCount"
            }
          ]
        },
        "options": {}
      },
      "id": "6b84b77c-3d99-4cf3-924e-edc29307cc77",
      "name": "Initialize Count",
      "type": "n8n-nodes-base.set",
      "position": [
        -3248,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const current = $json.iterationCount || 0;\n\nreturn [{ iterationCount: current + 1 }];"
      },
      "id": "97907d90-a830-4b95-9ab2-7005fd3eccab",
      "name": "Increment Count",
      "type": "n8n-nodes-base.function",
      "position": [
        -2176,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.iterationCount }}",
              "operation": "largerEqual",
              "value2": 3
            }
          ]
        }
      },
      "id": "74659b6d-0ab1-4e0d-87ef-a96455b0de10",
      "name": "Check Limit",
      "type": "n8n-nodes-base.if",
      "position": [
        -928,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "221496e1-c18e-4749-a987-d09bbcc5b2f9",
      "name": "Stop Here",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -608,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "uIREtTV8TRuF3lru",
          "cachedResultName": "Publish to Contentful"
        },
        "workflowInputs": {
          "value": {
            "slug": "={{ $json.slug }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "category": "={{ $json.category }}",
            "keywords": "={{ $json.keywords }}",
            "metaTitle": "={{ $json.metaTitle }}",
            "difficulty": "={{ $json.difficulty }}",
            "description": "={{ $json.description }}",
            "readingTime": "={{ $json.readingTime }}",
            "metaDescription": "={{ $json.metaDescription }}"
          },
          "schema": [
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "type": "array",
              "display": true,
              "required": false,
              "displayName": "keywords",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "metaTitle",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "metaTitle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "metaDescription",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "metaDescription",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "readingTime",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "readingTime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "difficulty",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "5b075542-2371-4d31-9889-3b231da326bf",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        160,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const outputText = $json.output;\n\n// Parse JSON from ChatGPT response\nconst parsedOutput = JSON.parse(outputText);\n\n// Return parsed object for next nodes\nreturn parsedOutput;"
      },
      "id": "4a940e25-dd58-4648-826e-e278b993f292",
      "name": "JSON.parse3",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3c1f6cb2-a556-4c74-885e-05e4f757997b",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "submit",
              "rightValue": "={{ $json.output.parseJson().action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92d01917-0207-4264-bc4d-60aa42ae011e",
      "name": "should submit",
      "type": "n8n-nodes-base.if",
      "position": [
        -608,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Writer Agent\n\n- Focuses on writing for all the fields in contentful\n- Has a specified format for input and output\n- Handles implementing feedback from editor agent",
        "height": 680,
        "width": 940,
        "color": 6
      },
      "id": "a8f73366-29d1-4654-94dc-24258fa3cc1c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3040,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Count Incrementer\n\n- Tracks a variable count to ensure the flow hits a max number of feedback iterations.\n- This is critical for feedback to avoid hitting an infinite loop.",
        "height": 880,
        "width": 860,
        "color": 3
      },
      "id": "2be9cced-07cd-4541-a4ed-a14630e666f0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Editor Agent\n\n- Sole purpose is to look at the quality of output for the previous combo of perplexity & openAI Agent.\n- Determines if it is publishable or not.",
        "height": 640,
        "width": 460
      },
      "id": "4145c76e-fb9e-4292-8c38-c0aa89f970fb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish To Contentful\n\n- Publishes to Contentful by converting the fields to the appropriate fields for the contentful POST create content API.\n- Converts the article to Rich Text formatting specifically for Contentful by using another AI formatter trained on it's specs.\n\nemail us if you want that flow too: christian@varritech.com",
        "height": 480,
        "width": 460,
        "color": 4
      },
      "id": "66b0cdb6-58b0-4fa5-8678-8130a9941e3d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "AI Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Here": {
      "main": [
        [
          {
            "node": "JSON.parse3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON.parse": {
      "main": [
        [
          {
            "node": "AI Writer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Increment Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Limit": {
      "main": [
        [
          {
            "node": "Stop Here",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "should submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON.parse1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON.parse3": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "should submit": {
      "main": [
        [
          {
            "node": "JSON.parse3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON.parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Editor Agent": {
      "main": [
        [
          {
            "node": "Check Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Writer Agent": {
      "main": [
        [
          {
            "node": "Create Perplexity Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "JSON.parse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Count": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Initialize Count": {
      "main": [
        [
          {
            "node": "AI Writer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Increment Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Accept and Publish": {
      "ai_tool": [
        [
          {
            "node": "AI Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Perplexity Content": {
      "main": [
        [
          {
            "node": "Format Perplexity Output & Add Citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Initialize Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Perplexity Output & Add Citations": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a202a203-b3dc-412c-8be7-635d77bb7308",
  "meta": {
    "instanceId": "14efd5686d0e6fd75cadd84744d27816eccbbe5115fb07ebe92435d0e7178b22"
  },
  "id": "lPWJhViJK7GhLMGf",
  "tags": []
}